body{
    background:#f9f9f9;
    color: #555;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
 }
 /** {
     padding: 0;
     margin: 0;
     outline: none;
     list-style: none;
     border: 0 none;
 }*/
 
 a,
 .content-form-page a {
     color: #E74C3C;
 }
 
 .main {
     margin-top: 20px;
 }
 
 /*BEGIN SLIDER*/
 .news-ticker {
     background-color: #34495E;
     border-radius:0;
     margin-bottom: 0; 
     /* border-top: 2px solid #2C3E50 */
     border-top: 2px solid #ff0000;
 }
 /*END SLIDER*/
 
 .home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
     margin: 17px 0 11px;
 }
 
 .home h1, .home h2, .home h3 {
     font-family: Oswald,arial,Georgia,serif;
 }
 
 .btn{
    border-radius: 0px;
 }
 .clear{
    clear:both;
 }
 .container-front,.navbar-trainer{
     position:relative;
 }
 .front-fix{
   height:490px;
       background:url('../../pelatihan/image/batik-test.jpg');
 }
 .banners{
     padding:20px 60px;
 }
 .banners-front{
     position:absolute;
     z-index:10;
     width:100%;
     top:91px;
 }
 .slider-front{
     position:absolute;
     z-index:9;
     min-width:100%;
 }
 .img-sliders-traignin{
     width:100%;
     height:490px;
     background-size:contain;
     background-position:center center;
     -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
     filter: grayscale(100%);
 }
 .content-slider{
     min-width:100%;
     height:auto;
     display: block;
     background-color:#fff;
 }
 .carousel-indicators{
     text-align: center;
     bottom: 10px;
    left: 50%;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
 }
 .carousel-indicators li {
     display: inline-block;
     width: 15px;
     height: 15px;
     margin: 1px;
     text-indent: -999px;
     cursor: pointer;
     background-color: #fff;
     background-color:rgba(255,255,255,0.44);
     border: none;
     border-radius: 10px;
 }
 .carousel-indicators .active {
     width: 17px;
     height: 17px;
     margin: 0;
 }
 .item_1,.item_2,.item_3{
     position:relative;
     background-color:rgba(255,255,255,0.44);
     text-align:center;
     overflow:hidden;
     margin-bottom:20px;
 }
 .title_1{
     position:relative;
     font:normal 26px/26px 'Patua One', cursive;
     letter-spacing:1px;
     color:#e20a16;
     -webkit-transition:all 0.4s ease;
     -moz-transition:all 0.4s ease;
     -o-transition:all 0.4s ease;
     transition:all 0.4s ease;
 }
 .title_2 {
     position:relative;
     font:normal 26px/26px 'Patua One', cursive;
     letter-spacing:1px;
     color:#fff;
     margin:21px 0 0;
     padding-bottom:23px;
 }
 .block_1 i{
     font-size:120px;
     padding:20px;
     color:rgba(226,10,22,0.6);
     filter:alpha(opacity=66);
     -webkit-transition:all 0.6s ease;
     -moz-transition:all 0.6s ease;
     -o-transition:all 0.6s ease;
     transition:all 0.6s ease;
 }
 .item_1:hover .block_1 i, .item_2:hover .block_1 i,.item_3:hover .block_1 i{
     -webkit-transform:rotateY(0deg) scale(2.1);
     -ms-transform:rotateY(0deg) scale(2.1);
     transform:rotateY(0deg) scale(2.1);
     cursor:pointer;
 }
 .item_1:hover .block_2, .item_2:hover .block_2,.item_3:hover .block_2{
     top:0;
 }
 .block_1{
    position:relative;
    padding:33px 0 51px;
 }
 .block_2{
     position:absolute;
     display:block;
     width:100%;
     height:100%;
     top:100%;
     left:0;
     margin:0;
     -webkit-transition:all 0.4s ease;
     -moz-transition:all 0.4s ease;
     -o-transition:all 0.4s ease;
     transition:all 0.4s ease;
 }
 .block_2 .txt{
     position: relative;
    color: #FF9192;
    padding: 0 11%;
    padding-bottom: 50px;
 }
 .block_2 .btn_b{
     position:absolute;
     display:block;
     bottom:0;
     width:100%;
     height:49px;
     background-color:#fff;
     -webkit-transition:all 0.4s ease;
     -moz-transition:all 0.4s ease;
     -o-transition:all 0.4s ease;
     transition:all 0.4s ease;
 }
 .block_2 .btn_b a{
     position:relative;
     display:block;
     text-align:center;
     font-size:14px;
     text-transform:uppercase;
     font-family:sans-serif;
     color:#ca1a2d;
     letter-spacing:2px;
     padding:13px 0 16px;
     -webkit-transition:all 0.4s ease;
     -moz-transition:all 0.4s ease;
     -o-transition:all 0.4s ease;
     transition:all 0.4s ease;
 }
 
 .home-news .item {
     border: solid 1px #e8e7e7;
     margin-bottom: 20px;
 }
 
 .blog-content, .home-news, .tblock,.training-content,.speaker, .part{
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
 }
 .blog-content,.training-content, .home-news, .speaker, .part{
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 5px solid #C0392B;
    position: relative;
    background-color:#fff;
    padding-bottom:20px;
 }
 .blog-content h2, .home-news h2, .training-content h2, .speaker h2, .part h2{
     font: normal 15px/15px "Roboto";
     display: inline;
     padding: 5px;
     margin:0px;
     background-color: #C0392B;
     position: absolute;
     color:#fff;
     z-index:100;
     top:0px;
     left:0px;
     padding: 9px 15px;
     text-transform: uppercase;
 }
 #topcontrol i{
    padding:11px 9px;
    background: #e20a16;
    font-size:21px;
    color:#fff;
 }
 .training-content{
    margin-top: 10px;
    border-top: 5px solid #7F8C8D;
    text-align:center;
 }
 .training-block{
    clear:both;
 }
 .training-block h3{
    font-family: Oswald,arial,Georgia,serif;
     font-size: 21px;
     line-height: 30px;
     display: block;
     margin: 12px 0 12px;
     font-weight: normal;
     text-transform:capitalize;
     color:#818181;
 }
 
 .tblock-icon{
    background: #fff;
     padding:30px 0;
     height:200px;
 }
 .tblock{
    background:#F6F6F6;
    overflow:hidden;
    margin-bottom:10px;
 }
 .tblock-icon i{
    color:#e20a16;
    padding:18px 21px;
    background:#fff;
    font-size:41px;
    border-radius:100%;
    border:1px solid #e20a16;
 }
 .tblock .visual {
   width: 80px;
   height: 80px;
   display: block;
   float: left;
   padding-top: 10px;
   padding-left: 15px;
   margin-bottom: 15px;
   font-size: 35px;
   line-height: 35px;
 }
 .tblock .visual > i {
   margin-left: -35px;
   font-size: 110px;
   line-height: 110px;
   color: #333;
   opacity: 0.1;
   filter: alpha(opacity=10);
 }
 .tblock-txt{
    padding:5px;
 }
 .reg-link{
    display:block;
    color:#fff;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 2px;
    padding: 13px 0 16px;
 }
 .reg-link:hover,.reg-clink:focus,.reg-link:active{
    color:#fff;
    text-decoration:none; 
 }
 .tblock:hover .tblock-icon h3{
    color:#000;
 }
 .tblock:hover .visual i{
    color: #000;
 }
 .static-list{
   clear:both;
   border-left:1px solid #f2f2f2;
 }
 .static-list li{
    float:right;
    margin:0px 20px 5px;
    width:120px;
    overflow:hidden;
 }
 .static-list i{
    opacity: .6;
    margin-bottom: 5px;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    font-size: 28px;
    margin: 8px auto;
    width: 50px;
    color: #FFF;
    height: 50px;
    display: block;
    text-align: center;
    background:#2267CC;
    -webkit-border-radius: 50px;
    moz-border-radius: 50px;
    border-radius: 50px;
 }
 .static-list li:hover i{
    opacity: 1;
 }
 .static-list i::before {
     height: 50px;
     width: 50px;
     font-size: 26px;
     line-height: 50px;
 }
 .static-list span {
     font-family: Oswald,arial,Georgia,serif;
     font-size: 12pt;
     display: block;
     text-transform: uppercase;
 }
 .static-list a{
    font-size:11px;
    text-transform: capitalize;
 }
 .training-content h2{
    background-color:#7F8C8D;
 }
 .training{
    padding:50px 20px 10px;
 }
 
 .home-news {
     padding:41px 20px 20px;
     background-color:#fff;
 }
 .speaker, .part{
    text-align:center;
    padding:41px 17px 10px;
    background-color:#fff;
 }
 
 
 /*BEGIN PROCUREPEDIA*/
 .procurepedia {
     background: none; box-shadow: none;
 }
 
 .procurepedia .procurepedia-content {
     padding: 50px 0 10px 0;
 }
 
 .testimonials-v1 blockquote{
     background: #fff;
 }
 
 .testimonials-v1 blockquote:before {
     border-top: 22px solid #fff;
     
 }
 
 .procurepedia .procurepedia-content .testimonials-v1{ 
     text-align: left
 }
 
 .procurepedia .speak-ico {
     height: 120px;
     overflow: visible;
 }
 
 .procurepedia .speak-txt{
     padding: 20px 0 0;
     height: 60px;
 
 }
 /*END PROCUREPEDIA*/
 
 /*BEGIN HOME GALLERY*/
 .home-gallery {
     padding: 40px 20px 10px
 }
 /*END HOME GALLERY*/
 .speak-box{
     background-color:#fff;
 }
 .speak-ico{
    height: 170px;
 /*   background-color:#333;*/
    background-color:#e6e3e3;
    position:relative;
    text-align:center;
    overflow:hidden;
 }
 .speak-img{
    width:100%;
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    overflow:hidden;
 }
 .speak-box:hover .speak-img{
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
 }
 .speak-box:hover .speak-ico i{
   background:#2695ac;
 }
 .speak-ico i{
    color:#fff;
    background:#00aeef;
    border-radius:50%;
    
    width: 50px;
    height: 50px;
    line-height: 1;
    
    position:absolute;
    bottom:-15px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
 }
 
 .fa-speak-ico {
     font-size:25px;
     padding: 15px 0 0;
 }
 
 .speak-txt{
    padding: 10px;
 }
 
 .speak-txt h4 {
     margin-bottom: 0;
 }
 
 .speak-txt p{
     margin-top: 5px;
 }
 
 .speak-txt span {
     color: #aaa;
      margin: 7px 7px 7px 0;
     font-size: 12px;
 }
 
 .speak-txt span i {
    margin: 7px 5px 7px 0;
 }
 
 .speak-box .btn{
    margin:11px auto 11px;
 }
 .header{
    border-top: 3px solid #34495E;
 }
 .home-news::after, .speaker::after ,.training-content::after, .blog-content::after{
     z-index: 2;
     content: " ";
     display: block;
     padding-top: 7px;
     border-bottom: 5px solid #F1C40F;
     width: 150px;
     margin: 0 auto;
     position:absolute;
     right:0px;
     top:-12px;
 }
 .part{
    text-align:right;
 }
 .part-box{
    border-bottom:1px solid #f2f2f2;
 }
 .part-box:last-child{
    border: none;
 }
 .part-box h3{
    font-size:21px;
    text-align:left;
 }
 .part-box p{
    text-align:justify;
 }
 .part-box i{
    padding-right:11px;
 }
 .part-box a,.block_2,.carousel-indicators .active,.reg-link,.navbar-trainer{
     background-color:#e20a16;
 }
 .head-bottom-container {
     background-color: #E74C3C;
 }
 
 .part-box a{
    text-align:center;
    display:block;
    width:121px;
    padding:5px 0px;
    text-transform:uppercase;
    color:#fff;
    text-decoration:none;
    float:right;
    margin-bottom:10px;
 }
 .jdw,.tls{
     border-right: 1px solid #e5e5e5;
     border-bottom: 1px solid #e5e5e5;
     color: #757575;
     background-color: #fafafa;
 }
 .waktu,.tls-list{
     padding: 5px 0;
     border-top: 1px solid #e5e5e5;
     margin: 0;
     border-left: 1px solid #e5e5e5;
     cursor: pointer;
 }
 .tls-list{
     border-left: 1px solid #e5e5e5;
 }
 .item-pic{
     border: 1px solid #e5e5e5;
 }
 .hr,.tgl,.bl,.bts-hr,.lem,.lem-ket{
     display:block;
     text-transform: uppercase;
     color: #ABABAB;
     font-family: oswald, 'arial narrow';
     line-height: 120%;
     font-weight: bold;
 }
 .hr,.lem,.lem-ket{
     font-weight: normal;
 }
 .hr{
     font-size:8px;
 }
 .lem{
     color:#6B6B6B;
     font-size: 14px;
 }
 .lem-ket,.tls-desc{
     font-family: 'open sans',arial;
     font-size: 11px;
     font-style: normal;
     text-transform: none;
     margin-top:5px;
     line-height: 150%;
 }
 .tls-desc{
     font-size:12px;
     color:#6B6B6B;
 }
 .tls .lem{
     font-size: 15px;
 }
 .lem-ket i, .lem-ket span{
     padding-right: 12px;
 }
 .jdw-right{
     padding-left: 30px;
 }
 .bts-hr{
     border-bottom: 1px solid #ABABAB;
     margin:4px 0px;
     width: 15px;
 }
 .tgl{
     font-size: 18px;
 }
 .bl{
     font-size:10px;
 }
 .jdw-left{
     float:left;
 }
 .waktu:hover,.tls-list:hover{
     background-color:#f4f4f4;
 }
 .link-sub{
     text-align: center;
     clear:both;
 }
 .link-sub a{
     display: block;
     float: left;
     margin: 0px 20px;
     padding:20px;
     width: 200px;
 }
 .center-link{
     margin:auto 0;
     display: inline-block;
 }
 .tls-left img{
    width:94px;
 }
 .partners-block{
     background-color:#f5f5f5;
 }
 .service-box-heading{
     margin:12px 0;
     text-align: justify;
 }
 .link-hide{
     display:none;
 }
 .btn-tabs{
     text-align: center;
 }
 .btn-tabs .btn{
     display: block;
     background-color: #E20A16;
     border: 1px solid #e5e5e5;
     color:#fff; 
     margin-top: 10px;
 }
 .participant{
    
 }
 .participant .nav-tabs > li.active > a, .participant .nav-tabs > li.active > a:focus, .participant .nav-tabs > li.active > a:hover {
     color: #fff;
     cursor: default;
     background:#000;
 }
 .participant .nav-tabs {
     border:none;
     padding-bottom: 1px;
     text-transform: uppercase;
     font-size:12px;
     margin-bottom: 20px;
 }
 .participant .nav-tabs > li > a, .participant .nav-tabs > li > a:hover, .participant .nav-tabs > li > a:focus {
     color: #000;
     background:#fff;
     border-radius: 0;
     border: none !important;
     padding: 9px 15px;
 }
 
 /***
 Header and header elements
 ***/
 .direktorat .header-navigation > ul > li > .dropdown-menu {
     margin-top: -5px;
     border-top: solid 5px rgba(0,0,0,0);
     z-index: 1001;
     background:transparent;
 }
 .direktorat .header-navigation > ul > li > .dropdown-menu>li>a {
     padding-left: 10px;
     
     background:#fff;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
 }
 .direktorat .header-navigation > ul > li > .dropdown-menu>li>a:hover,
 .direktorat .header-navigation > ul > li > .dropdown-menu>li.active>a {
     background: #333;
 }
 
 .direktorat .header-navigation > ul > li a{
    background: none;
 }
 .direktorat .header {
     position: inherit;
     margin-bottom:0px;
 }
 .direktorat .site-logo img{
    height:60px;
 }
 .direktorat .reduce-header .site-logo {
     padding-top: 16px;
     padding-bottom: 18px;
 }
 
 .direktorat .header-navigation li.menu-search {
     top: 31px;
 }
 .direktorat .header-navigation li.menu-search i {
     color: #8a949e;
 }
 
 /* Navigation */
 .direktorat .header-navigation {
     font: 15px "PT Sans Narrow", sans-serif;
     letter-spacing: 1px;
     margin: 0;
 }
 .header-navigation .dropdown-menu > li > a:hover,
 .header-navigation .dropdown-menu > li.active > a,
 .header-navigation .header-navigation-content .header-navigation-col li > a:hover,
 .header-navigation .header-navigation-content .header-navigation-col li.active > a {
   background: #333;
   color: #fff;
 }
 .direktorat .header-navigation .dropdown-menu{
     background:#fff;
     text-transform: capitalize;
 }
 .direktorat .header-navigation > ul > li > a {
     color: #fff;
 /*	padding: 14px 12px 12px;*/
     padding: 14px 8px 12px;
 }
 .direktorat .header-navigation ul > li.active > a,
 .direktorat .header-navigation ul > li > a:hover,
 .direktorat .header-navigation ul > li > a:focus,
 .direktorat .header-navigation ul > li.open > a,
 .direktorat .header-navigation ul > li.open > a:hover,
 .direktorat .header-navigation ul > li.open > a:focus {
     color: #FFEA00;
     background: none;
 }
 .direktorat .header-navigation .dropdown-menu > li > a:hover,
 .direktorat .header-navigation .dropdown-menu > li.active > a,
 .direktorat .header-navigation .header-navigation-content .header-navigation-col li > a:hover,
 .direktorat .header-navigation .header-navigation-content .header-navigation-col li.active > a {
   color: #fff;
 }
 
 .direktorat .header-navigation ul > li > a {
     padding-left: 0;
 }
 
 .direktorat .header-navigation ul > li.active > a {
     border-bottom: none !important;
 }
 
 .direktorat .header-navigation .dropdown-menu > li > .dropdown-menu > li a {
     padding-left: 10px;
 }
 
 @media (max-width: 1205px) and (min-width: 1025px) {
     .header .header-navigation > ul > li {
         margin-right: 0px;
     }
 }
 
 @media (min-width: 1200px) {
     .header .header-navigation > ul > li {
         margin-right: 12px;
     }
 }
 
 
 .direktorat .header-navigation > ul > li > .dropdown-menu {
     margin-top: 0px;
 }
 .direktorat .reduce-header .header-navigation > ul > li > .dropdown-menu {
     margin-top: -5px;
 }
 
 .header-navigation > ul > li.dropdown:hover > a:after {
         margin-left: 5px;
     
   bottom: -2px;
   width: 0; 
   height: 0;
   z-index: 1002; 
   content: " "; 
   display: block !important; 
   position: absolute;
   border-bottom: 8px solid #333;
   border-right: 8px solid transparent;
   border-left: 8px solid transparent;
 }
 
 .direktorat .header-navigation > ul > li > .dropdown-menu {
     margin-top: -3px;
 }
 
 .header-navigation .dropdown-menu > li:first-child {
     border-top:3px solid #333;
 }
 .direktorat .reduce-header .header-navigation > ul > li.dropdown:hover > a:after { 
   bottom: 0;
 }
 
 .prog-lay .dropdown-menu {
     min-width: 273px;
 }
 
 .prog-lay .dropdown-menu .dropdown-menu {
     min-width: 200px;
 }
 
 /* n-level submenu */
 .header-navigation .dropdown-menu .dropdown-menu {
   left: 100%;
   right: auto;
   top: 6px;
 }
 .header-navigation .dropdown-menu a {
   position: relative;
 }
 .header-navigation .dropdown-menu .fa {
   position: absolute;
   top: 13px;
   right: 15px;
 }
 
 
 
 .tab-content {
     background: #fff;
     padding:0px;
 }
 .head-top, .head-bottom{
    display:block;
    clear:both;
 }
 .pre-footer{
    margin-top:35px;
  }
 .pre-footer a {
    color:#7AA4E0;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
 }
 .pre-footer a:hover {
     color:#7AA4E0;
     text-decoration:none;
 }
 .pre-footer .container {
     padding-top: 15px;
 }
 .pages-footer {
     padding: 0;
     margin: 0;
 }
 
 .pages-footer li{
    float:left;
    margin:5px 20px 15px 0;
    list-style: none;
    outline: none;
 }
 .pages-footer li a{
    font-size:15px;
    color: #7b7b7b;
 }
 .pages-footer li a:hover{
    color: #fff;
 }
 .content-search h3{
    padding:0px;
    margin:0px;
    color: #fff;
    text-align: right;
    font-size: 22px;
    font-weight: 300;
 }
 .content-search{
    padding: 25px 30px;
    border: 1px solid #e5e5e5;
    background:#2C3E50;
    margin: 0;
 }
 .content-search input:focus {
     box-shadow: none;
     border: solid 1px #4c9ed9;
 }
 
 .gallery .item {
     margin-bottom: 20px;
 }
 
 
 .btn-registration {
     color: #fff;
         background-color: #2C3E50;
         border-color: #34495E;
 }
 .btn-registration:hover,
 .btn-registration:focus{
     color: #fff;
     background-color: #34495E;
     border-color: #2C3E50;
 }
 
 /* Services block */
 .services-block .row {
   padding-top: 44px;
 }
 .services-block .item {
   border-right: solid 1px #e8e7e7;
   padding-top: 9px;
   margin-bottom: 20px;
 }
 .services-block .item .judul {
     height: 45px;
 /*	font-size: 20px;*/
     font-size: 17px;
 }
 
 .services-block .col-md-3:last-child {
   border-right: none;
 }
 .services-block .fa-custom {
   background: #e85425;
   color: #fff;
   /*width: 70px;
   height: 70px;*/
   width: 65px;
   height: 65px;
   line-height: 1;
   border-radius: 50%;
   position: relative;
   margin-bottom: 29px;
 }
 .services-block .fa-custom:after {
   bottom: -6px;
   width: 0; 
   height: 0;
   left: 50%;
   margin-left: -9px;
   z-index: 2; 
   content: " "; 
   display: block; 
   position: absolute;
   border-top: 9px solid #e85425;
   border-right: 9px solid transparent;
   border-left: 9px solid transparent;
 }
 
 .services-block .fa-custom {
 /*	font-size: 22px;*/
     font-size: 20px;
     padding: 24px 0 0;
 }
 
 .services-block p {
   margin-bottom: 5px;
 }
 
 @media (max-width: 768px) {
     .services-block {
       padding-bottom: 20px;
     }
     .services-block .item {
       border: none;
       margin-bottom: 50px;
     }
 }
 
 .list-serivce {
     padding: 15px;
     margin-top: 20px;
     border-radius: 10px !important;
 }
 
 .list-serivce li {
     margin-bottom: 5px;
     text-align: left;
     border-bottom: 1px solid #ddd;
     padding: 5px 0;
 }
 
 .list-serivce li a {
     font-size: 16px;
     color: #e85425;
 }
 
 .list-serivce li i {
     color: #7d8489;
 }
 
 .statistic .faq-tabbable li:hover a, 
 .statistic .faq-tabbable li.active a {
     background: #F39C12;
 }
 
 .statistic .faq-tabbable {
     border-left: solid 2px #F39C12;
 }
 
 .statistic .faq-tabbable li.active:after {
     border-left: 6px solid #F39C12;
 }
 
 /* Button Bordered Primary */
 .btn-brd-primary {
   display: inline-block;
   font-weight: 600;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #3f5263;
   padding: 9px 15px;
   font-size: 14px;
   background: transparent;
   line-height: 1.4;
   border-radius: 0;
   border: 2px solid #3f5263 !important;
   transition-duration: 100ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
 }
 .btn-brd-primary:focus, .btn-brd-primary:active:focus, .btn-brd-primary.active:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }
 .btn-brd-primary:hover, .btn-brd-primary:focus {
   text-decoration: none;
   color: #fff;
   background: #3f5263;
   border-color: #3f5263;
   transition-duration: 400ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
 }
 
 .btn-brd-primary.btn-lg {
   display: inline-block;
   font-weight: 600;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #3f5263;
   padding: 12px 20px;
   font-size: 18px;
   background: transparent;
   line-height: 1.4;
   border-radius: 0;
   border: 2px solid #3f5263 !important;
   transition-duration: 100ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
 }
 .btn-brd-primary.btn-lg:focus, .btn-brd-primary.btn-lg:active:focus, .btn-brd-primary.btn-lg.active:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }
 .btn-brd-primary.btn-lg:hover, .btn-brd-primary.btn-lg:focus {
   text-decoration: none;
   color: #fff;
   background: #3f5263;
   border-color: #3f5263;
   transition-duration: 400ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
 }
 
 .btn-brd-primary.btn-md {
   display: inline-block;
   font-weight: 600;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #3f5263;
   padding: 14px;
   font-size: 15px;
   background: transparent;
   line-height: 1.35;
   border-radius: 0;
   border: 2px solid #3f5263 !important;
   transition-duration: 100ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
 }
 .btn-brd-primary.btn-md:focus, .btn-brd-primary.btn-md:active:focus, .btn-brd-primary.btn-md.active:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }
 .btn-brd-primary.btn-md:hover, .btn-brd-primary.btn-md:focus {
   text-decoration: none;
   color: #fff;
   background: #3f5263;
   border-color: #3f5263;
   transition-duration: 400ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
 }
 
 .btn-brd-primary.btn-sm {
   display: inline-block;
   font-weight: 600;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #3f5263;
   padding: 9px 12px;
   font-size: 13px;
   background: transparent;
   line-height: 1.3;
   border-radius: 0;
   border: 2px solid #3f5263 !important;
   transition-duration: 100ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
 }
 .btn-brd-primary.btn-sm:focus, .btn-brd-primary.btn-sm:active:focus, .btn-brd-primary.btn-sm.active:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }
 .btn-brd-primary.btn-sm:hover, .btn-brd-primary.btn-sm:focus {
   text-decoration: none;
   color: #fff;
   background: #3f5263;
   border-color: #3f5263;
   transition-duration: 400ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
 }
 
 .actor .content-form-page {
     margin-right: 0;
     padding-top: 20px;
     min-height: 385px;
 }
 
 .sidebar-widget {
     background: #fff;
     padding: 15px 15px 20px;
 }
 
 .sidebar-widget h2 {
     font-size: 18px;
     margin-bottom: 14px;
 }
 
 .sidebar-widget .item {
     width: 100%;
     overflow: hidden;
     padding-bottom: 15px;
     margin-bottom: 15px;
     border-bottom: solid 1px #eee;
 }
 
 .sidebar-widget img {
     width: 65px;
     height: auto;
     float: left;
 }
 
 .sidebar-widget h3 {
     font: 300 13px 'Open Sans', sans-serif;
     /* text-transform: none; */
     margin-left: 80px;
     margin-bottom: 2px;
 }
 
 .sidebar-widget .desc {
     margin-left: 80px;
     color: #E84D1C;
     color: #555;
 }
 
 .sidebar-widget .go-to { 
     margin-left: 80px;
     font-size: 12px;
 }
 
 .product-item h3 {
     padding-bottom:0; margin-bottom:5px;font-weight:bold;
 }
 
 .product-item h3 a,
 .product-item h3 a:hover {
     color:#717c87
 }
 .product-item .small-title {
     color: #aaa; font-size: 12px;
 }
 
 .big-title {
     position: relative;
     padding: 50px 0;
     z-index: 9;
 }
 
 .big-title .awe-overlay {
 /*    background-color: #dfdfdf;*/
 }
 
 .awe-overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(17, 83, 140, 0.6);
     z-index: -2;
 }
 
 .big-title .sub-banner-content {
     color: #fff;
 }
 .big-title .sub-banner-content h2{
     font-size: 30px;
     margin-bottom: 0;
     padding-bottom: 0;
     font-family: "PT Sans Narrow", sans-serif;
 }
 
  html .awe-parallax {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -3;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  .bg-section1-demo {
      background-image: url('../img/bg-title.png');
  }
  
  .overlay-color-1 {
 /*     background-color: #11538C;*/
      opacity: 0.9;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -2;
  }
 
 
 .text-center {
     text-align: center;
 }
 
 .sidebar-course-intro .widget {
 /*    background-color: #F6F6F6;*/
     position: relative;
         background-color: #fff;
         padding: 10px 20px 10px 48px;
         border-bottom: 1px solid #ddd;
 }
 
  .sidebar-course-intro .widget_equipment .icon {
      position: absolute;
          top: 15px;
          left: 20px;
          font-size: 20px;
          color: #666;
  }
  
  .black{
      color: #666;
  }
  
  .sidebar-course-intro h4 {
      margin: 0;
  }
  
  .sidebar-course-intro .widget div {
      font-size: 13px;
      color: #666;
  }
  
  .sidebar-course-intro .widget a {
      display: inline-block;
      font-size: 13px;
      color: #666;
      margin-top: 8px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
  }
  
  .vertical-alignment-helper {
      display:table;
      height: 100%;
      width: 100%;
      pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
  }
  .vertical-align-center {
      /* To center vertically */
      display: table-cell;
      vertical-align: middle;
      pointer-events:none;
  }
  .modal-content {
      /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
      width:inherit;
      height:inherit;
      /* To center horizontally */
      margin: 0 auto;
      pointer-events: all;
  }
  
  .langs-block-others-wrapper {
      right: 0;
  }
  
  .langs-block-others {
     width: 150px;
  }
  
  .langs-block-others:after { 
       right: 8px;
   }
   
  .ellipsed {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 92%;
      display: inline-block;
  } 
  
  div.dataTables_filter input {
      display: inline-block;
      width: auto;
      vertical-align: middle;
  }
 
  div.dataTables_length select {
      display: inline-block;
      width: auto;
      vertical-align: middle;
  }
  
  .blog-photo-stream li img {
      width: auto;
  }
  
  .content-page a.btn:hover {
       color: #fff;
  }
 
  .list-actor {
      margin: 20px 0;
  }
   
  .list-actor li {
      border-right: solid 1px #e8e7e7;
      vertical-align:top;
      margin-bottom: 20px;
      padding: 0 10px;
  }
  
  .list-actor li h4 {
      width: 96px;
      height: 30px;
      font-size: 15px;
 /*	 width: 124px;
      height: 30px;*/
  }
  
  .list-actor li:last-child {
      border:none;
  }
  
 /* EVENT SIDEBAR*/
  .event-small-list {
      display: block;
      padding-top: 15px;
  }
  .event-small-list:first-child {
      padding-top: 0 !important;
  }
  .event-small-list:last-child {
      margin-bottom: 0 !important;
  }
  .event-small-list:not(:last-child){
      padding-bottom: 15px;
      border-bottom: 1px dashed;
  }
 
  .blog-list-thumb {
      float: left;
      width: 65px;
      height: 65px;
      display: block;
      margin-right: 15px;
  }
  .blog-list-thumb img {
      width: 100%;
      height: 100%;
  }
 
  .event-small-title,
  .event-title {
      margin: 2px 0 0 0;
  }
  .event-small-title a {
 /*	 font-family: Helvetica, Arial, sans-serif;*/
 /*	 line-height: 22px;*/
 /*	 font-weight: 700;*/
      font-size: 14px;
  }
 
  .event-small-meta {
      margin: 0;
  }
 
  .calendar-small {
      float: left;
      display: block;
      margin-right: 15px;
      width: 65px;
      height: 65px;
  }
  .calendar-small .s-month {
      display: block;
      width: 65px;
      height: 22px;
      line-height: 22px;
      font-weight: 600;
      text-align: center;
  }
  .s-month {
      background-color: #5bc0de;
      color: #ffffff;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
  }
  .calendar-small .s-date {
      font-weight: 700;
      width: 65px;
      height: 43px;
      line-height: 33px;
      text-align: center;
      display: block;
  }
  .s-date {
      border: #f2f2f2 1px solid;
      color: #b9b9b9;
      font-size: 25px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
  }
  .calendar-small {
      background-color: #fafafa;
  }
  
  .event .sorting-container .btn{
      padding: 3px 10px 3px 10px;
  }
  
 .widget-main {
      background-color: #fff;
      padding: 20px;
  }
  
 .goods-data .btn {
     color: #fff;
 }
 
 /*BUTTON USER ACTOR*/
  .actor-button {
      margin-top: 25px;
      margin-bottom: 20px;
  } 
  
  .actor-button .icon-btn {
      height: 60px;
      min-width: 80px;
      margin: 5px 5px 0 0;
      border: 1px solid #ddd;
      padding: 12px 7px;
      background-color: #fafafa;
      background-image: none;
      filter: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      display: inline-block;
      color: #646464;
      text-shadow: none;
      text-align: center;
      cursor: pointer;
      position: relative;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  
  .actor-button .icon-btn:hover {
      text-decoration: none;
      border-color: #999;
      color: #444;
      text-shadow: 0 1px 0px white;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
 
  .actor-button .fa {
      font-size: 22px;
  }
 
  .actor-button .icon-btn.active{
      background-color: #d0d0d0;
      border-color: #b5b5b5;
  }
 
  .actor-button .actor-title {
      position: absolute; right: 5px; top: 20px;
  }
 
  .actor-button .actor-title .langs-block {
      text-align: right;
  }
 