/* blue: #1ba0e2
 * yelow:#FFC00B;
 */
 .head-bottom-container,.direktorat .head-bottom-container {
    background-color: #00aeef;
}
.header-navigation .dropdown-menu > li:first-child,.direktorat .header-navigation .dropdown-menu > li:first-child{
    border-top: 3px solid #34495E;
}
.header-navigation > ul > li.dropdown:hover > a:after,
.direktorat .header-navigation > ul > li.dropdown:hover > a:after{
    border-bottom: 8px solid #34495E;
}
.direktorat .header-navigation > ul > li > .dropdown-menu>li>a:hover,
.direktorat .header-navigation > ul > li > .dropdown-menu>li.active>a {
	background: #eee;
    color:#333;
}
.header-navigation .dropdown-menu > li > a:hover,
.header-navigation .dropdown-menu > li.active > a,
.header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.header-navigation .header-navigation-content .header-navigation-col li.active > a {
  background: #eee;
  color: #333;
}
.direktorat .header-navigation .dropdown-menu > li > a:hover,
.direktorat .header-navigation .dropdown-menu > li.active > a,
.direktorat .header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.direktorat .header-navigation .header-navigation-content .header-navigation-col li.active > a {
  color: #333;
}
.btn-registration,.btn-registration:hover,
.btn-registration:focus {
    color: #333;
    background-color: #FFC00B;
    border:none;
}
.btn-login, .btn-sm{
    color: #fff;
    background-color: #34495E;
}

.btn-login:hover,
.btn-login:focus {
    background-color: #FFC00B;
}

.ticker-title span{
    padding:5px;
    background-color:#FFC00B;
    color: #333;
}
.ticker-title {
    text-transform:capitalize;
}
.ticker-title i{
    padding-right:5px;
}
body.direktorat {
    
}
.blog-content h2, .home-news h2, .training-content h2, .speaker h2, .part h2 {
font: normal 17px/17px "Roboto";
background: none;
color: #030303;
padding: 5px;
margin: 10px;
}
#topcontrol i {
    background: #FFC00B;
    color:#333;
}
.services-block .fa-custom {
    background: #2695ac; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00aeef, #2695ac); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00aeef, #2695ac); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00aeef, #2695ac); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00aeef, #2695ac); /* Standard syntax */
    color: #34495E;
}
.services-block .fa-custom:after {
   border-top: 9px solid #2695ac; 
}
.blog-content, .training-content, .home-news, .speaker, .part {
    border-top: 5px solid #00aeef;
}
a:hover,.ellipsed,a,.content-page h2 a:hover{
    color: #34495E;
}
/*.content-form-page a,*/
.testimonials-v1 span.testimonials-name,
.judul a,
.content-page h2 a{
    color: #111;
}

.content-form-page a{
	color: #1ba0e2;
}
.ellipsed{
    font-weight:bold;
}
.testimonials-v1 blockquote {
    background: #FFC00B;
    color:#111;
}
.testimonials-v1 blockquote::before {
    border-top: 22px solid #FFC00B;
}
.testimonials-v1 blockquote::after {
    background-color: #C28F00;
}
.list-actor li i,
.list-actor li .judul,
.list-actor li a,
.list-actor .bulet{
 transition:all 0.5s ease;
}
.list-actor li:hover i,
.list-actor li .bulet:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); 
}
.list-actor li:hover .judul{
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
.list-actor li:hover a{
    color:#1ba0e2;
    text-decoration:underline;
}

.bulet {
	background: #2695ac; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#00aeef, #2695ac); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#00aeef, #2695ac); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#00aeef, #2695ac); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#00aeef, #2695ac); /* Standard syntax */
	width: 65px;
	height: 65px;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
	margin: 0 auto 29px;
	padding: 2px 8px 10px 10px;
	position: relative;
}

.bulet:after {
    bottom: -6px;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -9px;
    z-index: 2;
    content: " ";
    display: block;
    position: absolute;
    border-top: 9px solid #2695ac;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
}

.bulet .img-responsive {
    margin: 0 auto;
}

.testimonials-v1 .right-btn:hover {
    background-color: #1ba0e2;
}
.testimonials-v1 .left-btn:hover {
    background-color: #1ba0e2;
}
.testimonials-v1 .carousel-info img {
    padding: 0px;
    border: solid 7px #535353;
}
.direktorat .sidebar .list-group-item {
    border-bottom: 1px solid #eee;
}
.sidebar-menu .dropdown-menu li > a:hover,
.sidebar-menu .dropdown-menu li > a:focus,
.sidebar-menu li.active > a,
.sidebar-menu li.active > a:hover,.breadcrumb > .active {
    color: #1ba0e2;
}
.sidebar a:hover {
    color: #1ba0e2;
}
.blog-info li i {
    color: #34495E;
}
.sidebar-categories li > a:hover, .sidebar-categories li.active > a, .sidebar-categories li.active:hover > a {
    color: #1ba0e2;
}
.blog-tags li a:hover {
    background: #34495E;
}
.blog-tags li a:hover:after{
    border-left: 12px solid #34495E;
}
.blog-tags li i {
   color: #34495E;
}
.goods-data a, .checkout-page .checkout-description a,.goods-page-price strong, .goods-page-total strong, .checkout-price strong, .checkout-total strong  {
    color: #1ba0e2;
}
.faq-tabbable li:hover a, .faq-tabbable li.active a {
    background: #34495E;
}
.faq-tabbable {
    border-left: solid 2px #34495E;
}
.faq-tabbable li.active::after{
    border-left: 6px solid #34495E;
}
.header-navigation .search-box {
    border-top: solid 3px #FFC00B;
}
.header-navigation .search-box::after {
    top: -10px;
    border-bottom: 8px solid #FFC00B;
}
.search-box .btn-primary {
    background-color: #34495E;
    border-color: #34495E;
}
hr.style_new {
	border-top: 1px solid #8c8b8b;
		text-align: center;
}

hr.style_new:after {
	content: 'Â§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #fff;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

