.panel-default > .panel-heading {
	/* background: rgba(0, 0, 0, 0) linear-gradient(0deg, #7f0000, #cc0000) repeat scroll 0 0; */
	background-color: #FF6235;
	border-color: #ddd;
	color: #fff;
}

.panel-group {
    margin-bottom: 2px;
}

.fullname {
	font-size: 12px;
	color: #292f33;
	font-weight: bold;
}

.text {
	font-size: 12px;
	color: #292f33;
}

.metadata {
	display: block;
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #8899a6;
}	
		
p.footer{
	text-align: right;
	font-size: 11px;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.sidebar, .content{
	margin-top: 5px;
}

.pull-center, .pull-center th{
	text-align: center;
}

/* tab jquery */

.ui-tabs .ui-tabs-panel {
    /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0; */
    border-width: 0;
    display: block;
    padding: 5px 5px 5px 5px;
}

#content{
	padding-top: 7px;
	padding-bottom: 80px;
}
			
#waktu {
	weight: bolt;
	color: red;
}
			
.footer-main {
	border-bottom: 1px solid rgb(221, 221, 221);
	border-top: 1px solid rgb(221, 221, 221);
	box-shadow: 0 0 10px 5px rgba(166, 166, 166, 0.1);
	padding: 20px 0;
	text-align: center;
}

.footer {
	background: #5c9ccc;
	bottom: 0;
	height: 60px;
	position: fixed;
	vertical-align: middle;
	width: 100%;
	z-index: 1;
	color: #ffffff;
}